/*---------------- General body styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(135deg, #faa403, #e4e2d7);
    
}

/* Apply Alegreya font to headings and brand text */
h1,
h2,
h3,
{
    font-family: 'Alegreya', serif;
}

.container {
    width: 100%;
    min-height: 100vh;   
    padding: 10px;
   
}